<form [formGroup]="formSousstructure " (ngSubmit)="submit()">
    <div class="form-group">
    <label for="nom" class="form-label">Nom</label>
    <input  type="text" class="form-control" formControlName="nom" >
    </div>
    
    
      
    <div class="form-group">
        <label for="structure" class="col-form-label-col-sm-2">Structure</label>
        <select  class="form-control" formControlName="structureId" id="structure">
        <option >---- Selectionner une structure</option>
        <option *ngFor ="let structure of structures" value="{{structure?.id}}">{{ structure?.nom }}</option>
        </select>
        </div>

         <div class="form-group">
        <Button type="submit" class="btn btn-outline-success mt-2"  >Envoyer</Button>
    </div>
    </form>