<form [formGroup]="formresponsable " (ngSubmit)="submit()">
    <div class="form-group">
    <label for="motdepasse" class="form-label">Mot de passe</label>
    <input  type="number" class="form-control" formControlName="motdepasse" >
    </div>

    

               
    
    
      
    <div class="form-group">
        <label for="agents" class="col-form-label-col-sm-2">agent</label>
        <select  class="form-control" formControlName="agentId" id="agents">
        <option >---- Selectionner un agent</option>
        <option *ngFor ="let agents of agents" value="{{agents?.id}}">{{ agents?.nom }}</option>
        </select>
        </div>

         <div class="form-group">
        <Button type="submit" class="btn btn-outline-success mt-2"  >Envoyer</Button>
    </div>
    </form>