<mat-toolbar color="primary">
    
    <div>
     Liste Commande
    </div>
    
  </mat-toolbar>
<table class="table table-hover">
<thead class="thead-light">
<th>Date commande</th>
<th>Agent</th>
<th>Total moyenne</th>

<th>
<a class="btn btn-outline-success" routerLink="/evaluations"><i class="fa fa-plus-square"></i> Create New</a>
</th>
</thead>
<tbody>
<tr *ngFor="let comm of Liste">
<td>{{comm.date_eval| date:'dd/MM/yyyy'}}</td>
<td>{{comm.nomagent}}</td>
<td >{{comm.moy}}</td>
<td>
<a class="btn text-danger" (click)="onDelete(comm.id)"><i class="fa fa-trash fa-lg"></i> </a>
<a class="btn text-danger" (click)="selectData(comm)"><i class="fa fa-pencil fa-lg"></i> </a>
</td>
</tr>
<div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite"></div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"></ul></div></div></div>
</tbody>
</table>




